@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html, body
{
    height: 100%;
}

body
{
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
    background-color: var(--background-Color);

}

a
{
    text-decoration: none;
    color: var(--black);
}

button
{
    background-color: var(--primary-orange);
    color: var(--white);
    border: none;
    outline: none;
    padding: 7px 25px;
    font-size: 15px;
    border-radius: 25px;
    text-align: center;
}

.activePage
{
    color: var(--white);
}




:root
{
    --primary-orange: #ff4d00;
    --FadedOrange: rgba(255, 77, 0, 0.493);
    --FadedBrown: rgba(167, 52, 14, 0.4);
    --white: white;
    --black: black;
    --grey: grey;
    --lightGrey: rgba(192, 189, 189, 0.226);
    --background-Color: white;
    --CalendarBg: var(--lightGrey);
    --BoxBg: var(--white);
}

.darkMode
{
    --background-Color: #162a39;
    --CalendarBg: #162a39;
    --BoxBg: #143144;
}

/* Search Bar */
.SearchBar
{
    background-color: var(--white);
    width: 75%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.SearchBar i
{
    color: var(--grey);
    margin-right: 15px;
}

.SearchBar input
{
    width: 70%;
    border: none;
    outline: none;
}

/* Carousel CSS */
.swiper-container 
{
    padding-right: 15%;
    padding-left: 15%;
    width: 70%;
    height: 142px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--background-Color);
}

.swiper-slide 
{
    text-align: center;
    font-size: 18px;
    background-color: var(--BoxBg);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

.swiper-slide img 
{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(40%);
}

.swiper-slide span
{
    position: absolute;
    font-weight: 600;
    color: var(--white);
    margin-top: -15px;
}

.swiper-slide button
{
    position: absolute;
    font-size: 14px;
    height: 27px;
    width: 42%;
    margin-top: 90px;
    background-color: var(--white);
    border-radius: 25px;
    border: none;
    outline: none;
    color: var(--primary-orange);
}

.swiper-container 
{
    margin-left: auto;
    margin-right: auto;
}


/* Login and SignUp Page CSS */

.LSContainer
{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.LSLogo, .LSButtons
{
    height: 50vh;
    width: 40%;
}

.LSLogo
{
    display: flex;
    align-items: center;
}

.LSLogo img
{
    width: 100%;
}

.LSButtons
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#buttonCSS
{
    background-color: var(--primary-orange);
    color: var(--white);
    font-size: 20px;
    font-weight: 700;
    border-radius: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 10em;
    margin-bottom: 15%;
}



/* Login Page CSS */

.LoginPageContainer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.LoginContainer
{
    display: flex;
    flex-direction: column;
}

.LoginHeader
{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 30px;
}

.LoginBack
{
    width: 30px;
    height: 30px;
    margin-left: 30px;
}

.LoginText
{
    flex-grow: 1;
    text-align: center;
    margin-right: 60px;
    font-weight: 700;
}

.LoginForm
{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    margin-top: 120px;
    margin-bottom: 120px;
    width: 75%;
}

.LoginForm input
{
    font-size: 20px;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--black);
}

.bottomLogo
{
    height: 8vh;
    width: 9em;
    margin-left: auto;
    margin-right: auto;
}

.bottomLogo img
{
    width: 100%;
}

.LoginBtn
{
    margin-left: auto;
    margin-right: auto;
}


    


@media screen and (max-width: 930px)
{
    /* Login and SignUp Page CSS */
    .LSContainer
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .LSLogo, .LSButtons
    {
        width: 85%;
        height: 45vh;
        margin-left: auto;
        margin-right: auto;
    }



    /* Nav Bar CSS */
    nav
    {
        width: 100%;
        margin-top: 17px;
    }
    
    .navbar .logo img
    {
        width: 110px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #sidebar div.openMenu i
    {
        margin-left: 30px;
        font-size: 25px;
    }

    #sidebar 
    {
        position: fixed;
        width: 250px;
        height: 100%;
        background: #ff4d00;
        left: -300px;
        top: 0;
        transition: .4s;
        z-index: 20;
        display: flex;
        flex-direction: column;
    }

    #sidebar div.closeMenu i
    {
        font-size: 25px;
        color: var(--white);
        margin-top: 25px;
        padding-left: 25px;
    }

    #sidebar ul li 
    {
        list-style: none;
        color: #fff;
        font-size: 17px;
        padding: 26px 24px;
    }

    #sidebar ul li.active
    {
        font-weight: 600;
        text-decoration: underline;
    }

    #sidebar .toggle-btn 
    {
        position: absolute;
        top: 25px;
        left: 330px;
        font-size: 25px;
    }

    .toggle-btn span 
    {
        width: 45px;
        height: 4px;
        background: #000;
        display: block;
        margin-top: 4px;
    }

    #sidebar.active 
    {
        left: 0;
    }


    /* This is the section with the Student's name and their profile button*/
    .userBar
    {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 10px;
    }

    .userBar span
    {
        display: flex;
        align-items: center;
        font-size: 25px;
        font-weight: 600;
        margin-left: 30px;
    }

    .userBar img
    {
        width: 3.5rem;
        height: 3.5rem;
        margin-right: 30px;
        border-radius: 50%;
        border: 2px solid var(--primary-orange);
    }

    /* This is the search bar */
    .ServicesSearchBar
    {
        display: flex;
        justify-content: center;
        margin-top: 17px;
        width: 100%;
        height: auto;
    }

    .ServicesSearchBar input
    {
        background-color: var(--lightGrey);
        border: none;
        outline: none;
        border-radius: 300px;
        width: 285px;
        height: 27px;
        text-align: center;
    }


    /* Discover Text CSS */

    .DiscoverText
    {
        margin-top: 15px;
    }

    .DiscoverText span
    {
        margin-left: 30px;
        font-weight: 600;
        color: var(--grey);
    }

    /* Services Boxes CSS */
    .Services
    {
        width: 90%;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        gap: 17px;
        grid-template-columns: repeat(2, 1fr);
    }

    .ServiceBox
    {
        width: 150px;
        height: 18vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 20px;
        box-shadow: 2px 2px 10px 2px #969696;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
    }

    .ServiceBox img
    {
        width: 65px;
        margin-left: auto;
        margin-right: auto;
    }

    .ServiceBox span
    {
        text-align: center;
        margin-top: 15px;
        font-size: 13px;
    }


    /* This is the Student Profile CSS */
    .NotificationAndSettings
    {
        display: flex;
        align-items: center;
    }

    #StudentProfileMenu
    {
        display: flex;
        flex-grow: 1;
    }

    .NotificationAndSettings i
    {
        font-size: 20px;
        margin: 7px;
    }

    .StudentInfo
    {
        display: flex;
        justify-content: center;
        margin-top: 25px;
    }

    .StudentInfo .StudentProfileImage
    {
        width: 5rem;
        height: 5rem;
    }

    .StudentInfo .StudentProfileImage img
    {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        border: 2px solid var(--primary-orange);
    }

    .StudentInfo .BasicStudentInfo
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 55%;
        padding-left: 7%;
    }

    .StudentInfo .BasicStudentInfo span.StudentName
    {
        font-size: 20px;
        font-weight: 600;
    }

    .StudentInfo .BasicStudentInfo span.StudentType
    {
        font-size: 13px;
        opacity: 65%;
    }

    .roleDiv
    {
        background-color: grey;
        opacity: 60%;
        width: 70%;
        margin-top: 5px;
        text-align: center;
    }
    
    .MoreStudentInfo
    {
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        margin-top: 30px;
    }

    .MoreStudentInfo span.InfoTitle
    {
        font-weight: 600;
        margin-bottom: 15px;
    }
    .MoreStudentInfo span.InfoHeader
    {
        font-size: 13px;
        opacity: 75%;
    }

    .MoreStudentInfo span.YearAndSemester
    {
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .TimeTable
    {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
    }

    .TimeTable span
    {
        font-size: 20px;
        font-weight: 600;
    }

    .TimeTable img
    {
        width: 55px;
    }

    /* Student Id CSS */

    .StudentIdInfo
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    .StudentIdPhoto
    {
        width: 12rem;
        height: 12rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
        border-radius: 50%;
        border: 2px solid var(--primary-orange);
    }

    .StudentIdPhoto img
    {
        width: 12rem;
        height: 12rem;
        border-radius: 50%;
    }

    span.StudentIdName
    {
        font-size: 30px;
        font-weight: 600;
    }

    span.StudentIdType
    {
        font-size: 17px;
        color: grey;
        opacity: 70%;
        margin-bottom: 25px;
    }

    span.StudentIdIdNum
    {
        font-size: 17px;
        color: grey;
        opacity: 70%;
    }

    span.StudentIdNumber
    {
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 25px;
    }

    span.StudentIdDivision
    {
        font-size: 17px;
        color: grey;
        opacity: 70%;
    }

    span.StudentIdDivisionName
    {
        font-size: 25px;
        font-weight: 600;
    }

    .StudentIdBarcode
    {
        height: 7rem;
        margin-bottom: 50px;
    }

    .StudentIdBarcode img
    {
        height: 7rem;
    }

    span.StudentIdYear
    {
        font-size: 25px;
        font-weight: 600;
    }



    /* Calendar CSS */
    .CalendarBackground
    {
        background-color: var(--CalendarBg);
    }
    
    .CalendarContainer
    {
        display: flex;
        flex-direction: column;
    }

    .NoScroll
    {
        background-image: linear-gradient(var(--primary-orange), var(--FadedOrange));
        padding-top: 0;
        height: 12em;
        width: 100%;
        border-bottom-left-radius: 15%;
        border-bottom-right-radius: 15%;
        position: fixed;
        z-index: 5;
    }

    .NoScroll div.userBar
    {
        margin-top: 55px;
    }

    .PageTitle
    {
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        margin-top: 15px;
        padding-bottom: 15px;
    }

    .MonthAndYearDiv
    {
        width: 75%;
        height: 2em;
        margin-left: auto;
        margin-right: auto;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--white);
        box-shadow: 2px 2px 10px 2px #969696;
        color: var(--primary-orange);
    }

    .MonthAndYearBack, .MonthAndYearForward
    {
        font-size: 20px;
    }

    .MonthAndYear
    {
        margin-left: 15%;
        margin-right: 15%;
        font-weight: 600;
    }

    .whiteSpace
    {
        width: 100%;
        height: 12em;
        background-color: var(--white);
        border-bottom-left-radius: 15%;
        border-bottom-right-radius: 15%;
        margin-top: 0px;
        position: fixed;
        z-index: 4;
    }

    .CalendarContentDiv
    {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-top: 175px;
        margin-left: auto;
        margin-right: auto;
        z-index: 3;
        justify-content: center;
        align-items: center;
    }

    .Calendar
    {
        background-color: seagreen;
        height: 25vh;
        width: 100%;
        border-radius: 25px;
        margin-bottom: 25px;
    }

    .AddTaskAndAppointmentBtn
    {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .AddTaskAndAppointmentBtn button:first-child
    {
        margin-right: 4%;
    }

    .AddEventButton
    {
        text-align: center;
        font-size: 15px;
        font-weight: 600;
        width: 48%;
        height: 3.5em;
        background-color: var(--white);
        color: var(--grey);
        border: none;
        border-radius: 5px;
    }

    .DisplayEventsHere
    {
        width: 100%;
        height: 20vh;
    }

    .EventCategoryName
    {
        background-color: var(--white);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        border-radius: 5px;
        margin-top: 25px;
    }

    .EventCategoryName span
    {
        font-weight: 600;
        font-size: 17px;
    }

    .NumberOfEvents
    {
        background-color: seagreen;
        width: 2em;
        height: 2em;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    /* Bottom Navigation Bar */
    .bottomNavBar
    {
        width: 100%;
        height: auto;
        padding: 0;
        margin-bottom: -17px;
        position: fixed;
        bottom: 0;
        z-index: 5;
    }

    ul.BottomNavUl
    {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 15px 0px;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--primary-orange);
    }

    ul.BottomNavUl li
    {
        list-style: none;
        text-align: center;
    }

    ul.BottomNavUl li i
    {
        font-size: 27px;
    }

    .borderSettings
    {
        list-style: none;
        width: 25%;
    }

    .borderSettings:not(:nth-child(4n)) 
    {
        border-right: 1px solid var(--FadedBrown);
    }

    /* Logout Page CSS */
    .LogOutForm
    {
        display: flex;
        justify-content: center;
    }


    /* Library Book Details */
    .PageContainer
    {
        display: flex;
        flex-direction: column;
    }

    .PageContainer .BookSummary
    {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        font-size: 12px;
        text-align: center;
        margin-top: 560px;
    }

    .PageContainer .whiteSpace
    {
        width: 100%;
        height: 34em;
        background-color: var(--white);
        margin-top: 0px;
        position: fixed;
        z-index: 4;
    }

    .NoScroll .backButton i
    {
        font-size: 25px;
        margin-top: 25px;
        margin-left: 30px;
    }

    .NoScroll .BookCoverImage
    {
        width: 50%;
        height: 120%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        border-radius: 25px;
    }

    .NoScroll .BookCoverImage img
    {
        width: 100%;
        height: 100%;
        border-radius: 25px;
    }

    .NoScroll .BookTitle
    {
        font-size: 17px;
        font-weight: 500;
        text-align: center;
        width: 60%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 25px;
    }

    .NoScroll .BookAuther
    {
        font-size: 13px;
        font-weight: 400;
        text-align: center;
        color: var(--grey);
        width: 40%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 7px;
    }

    .NoScroll .SomeBookDetails ul li .PageNumber, .BookLanguage, .BookPublished
    {
        font-size: 14px;
        text-align: center;
    }

    .NoScroll .Pages, .Language, .Published
    {
        font-size: 12px;
        color: grey;
        text-align: center;
    }

    .SomeBookDetails
    {
        width: 100%;
        height: auto;
        padding: 0;
    }

    ul.BookDetailsList
    {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 15px 0px;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    ul.BookDetailsList li
    {
        list-style: none;
        text-align: center;
    }

    ul.BookDetailsList li i
    {
        font-size: 27px;
    }

    .DetailBlock
    {
        list-style: none;
        width: 25%;
    }

    .DetailBlock:not(:nth-child(3n)) 
    {
        border-right: 1px solid grey;
    }

    .Borrow
    {
        width: 100%;
        height: 14vh;
        padding: 0;
        margin-bottom: -17px;
        position: fixed;
        bottom: 0;
        z-index: 5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--white);
    }

    .Borrow span
    {
        font-size: 12px;
        color: grey;
    }

    .Borrow button
    {
        font-size: 17px;
        text-align: center;
        width: 60%;
        margin-top: 10px;
        margin-bottom: 25px;
    }

    /* Canteen CSS */

    .CanteenNoScroll
    {
        background-image: linear-gradient(var(--primary-orange), var(--FadedOrange));
        padding-top: 0;
        height: 7.2em;
        width: 100%;
        border-bottom-left-radius: 12%;
        border-bottom-right-radius: 12%;
        position: fixed;
        z-index: 5;
    }

    .CanteenNavBar
    {
        width: 100%;
        height: 25px;
        margin-top: 28px;
    }
    .CartButton i
    {
        font-size: 25px;
        float: right;
        margin-right: 30px;
    }

    .NumOfItems
    {
        width: 20px;
        height: 20px;
        float: right;
        position: absolute;
        margin-top: -35px;
        margin-left: 15px;
        border-radius: 25px;
        font-size: 17px;
        text-align: center;
        background-color: var(--white);
    }

    .NumOfItems span
    {
        font-size: 6px;
        text-align: center;
    }

    .MenuTitles, .MenuName
    {
        margin-left: 30px;
        margin-top: 25px;
        color: var(--grey);
    }

    .swiperContainer 
    {
        height: 142px;
        margin-top: 15px;
        background-color: var(--background-Color);
    }

    .swiperContainer .swiper-wrapper .swiper-slide
    {
        width: 25% !important;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
    }

    .swiper-button-next, .swiper-button-prev
    {
        color: grey;
        margin-top: 160px;
    }

    img.MenuImg
    {
        width: 75%;
        height: 50%;
        margin-top: -45%;
        border-radius: 5px;
        filter: brightness(100%);
    }

    span.MenuSpan
    {
        color: var(--grey);
        width: 75%;
        margin-top: 95%;
        margin-right: auto;
        margin-left: auto;
        font-size: 12px;
    }

    .CanteenwhiteSpace
    {
        width: 100%;
        height: 22.5em;
        background-color: var(--white);
        margin-top: 0px;
        position: fixed;
        z-index: 4;
    }

    .DisplayFoods
    {
        margin-left: 30px;
        margin-right: 30px;
        font-size: 12px;
        text-align: center;
        margin-top: 370px;
    }

    .FoodItem
    {
        height: 100px;
        background-color: var(--white);
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        margin-top: 12px;
    }

    .FoodImg
    {
        width: 28%;
        height: 95%;
        margin-right: 2%;
        display: flex;
        align-items: center;
    }

    .FoodImg img
    {
        width: 100%;
        border-radius: 5px;
    }

    .FoodInfo
    {
        width: 50%;
        height: 95%;
        margin-right: 2%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .FoodOptions
    {
        width: 18%;
        height: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .FoodInfo span.FoodDesc
    {
        font-size: 9px;
        text-align: left;
        margin-top: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 25px;
    }

    .MoreFoodInfo
    {
        text-align: left;
        color: var(--primary-orange);
    }

    .SmallPortion, .LargePortion
    {
        height: 50%;
        display: flex;
        align-items: center;
        border-radius: 10px;
        color: white;
    }

    .SmallPortion
    {
        background-color: black;
    }
    
    .LargePortion
    {
        background-color: var(--primary-orange);
        margin-top: 25%;
    }

    .FoodName
    {
        font-size: 14px;
        text-align: left;
    }

    .DisplayFoods .FoodItem:last-child
    {
        margin-bottom: 75px;
    }

    /* Campus Shop */
    .CampusNoScroll
    {
        background-image: linear-gradient(var(--primary-orange), var(--FadedOrange));
        padding-top: 0;
        height: 10em;
        width: 100%;
        border-bottom-left-radius: 12%;
        border-bottom-right-radius: 12%;
        position: fixed;
        z-index: 5;
    }

    .content
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .shops
    {
        width: 75%;
        height: 150px;
        margin-top: 30px;
        border-radius: 25px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .shops img
    {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 25px;
        object-fit: cover;
    }

    .whiteFade
    {
        width: 100%;
        height: 100%;
        margin-top: -150px;
        border-radius: 25px;
        position: relative;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
    }

    .contentContainer
    {
        width: 80%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -140px;
        margin-left: auto;
        margin-right: auto;
    }

    .contentContainer h3
    {
        color: black;
        font-size: 17px;
        text-align: center;
        margin-bottom: -30px;
        z-index: 25;
    }

    .contentContainer p
    {
        color: black;
        font-size: 13px;
        font-weight: 400;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 1px;
        z-index: 25;
    }

    .contentContainer button 
    {
        width: 70%;
        font-size: 13px;
        background-color: white;
        color: var(--primary-orange);
        z-index: 25;
    }

    .CheckAccountBal
    {
        width: 75%;
        height: 50px;
        margin-top: 50px;
        border-radius: 15px;
        background-color: var(--white);
        color: var(--grey);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .CheckAccountBal i
    {
        margin-right: 2%;
    }

    /* Noticications */
    .Customize
    {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        background-color: white;
        border: none;
        outline: none;
        color: var(--grey);
    }

    .NotificationContentDiv
    {
        width: 80%;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 175px;
        margin-bottom: 75px;
    }

    .NewNotifications
    {
        color: var(--grey);
        font-size: 12px;
    }

    .notification
    {
        background-color: aquamarine;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 15px;
        margin-top: 25px;
    }

    .notification h4
    {
        font-size: 14px;
        padding-top: 5px;
    }

    .notification p
    {
        margin-top: -12px;
        font-size: 12px;
        padding-bottom: 5px;
    }

    /* Health CSS */
    .HealthContent, .GymContent
    {
        margin-top: 160px;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .GymContent
    {
        margin-top: 150px;
    }

    .HealthBanner, .GymBanner
    {
        height: 17vh;
        width: 100%;
        border-radius: 25px;
        background-color: aquamarine;
    }

    .Text
    {
        font-size: 17px;
        color: var(--grey);
        margin-top: 7px;
    }

    .HealthCategories
    {
        height: 35vh;
        width: 100%;
    }

    .CategoriesText
    {
        margin-top: 7px;
        margin-bottom: 7px;
        font-size: 20px;
        font-weight: 400;
    }

    .CategoriesBoxes
    {
        display: grid;
        gap: 25px;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
    }

    .CategoryBox
    {
        width: 90px;
        height: 13vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 20px;
        box-shadow: 2px 2px 10px 2px #969696;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
    }

    .CategoryBox img
    {
        width: 45px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }

    .CategoryBox span
    {
        text-align: center;
        font-size: 12px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;
        text-align: center;
    }

    /* GYM CSS */
    .FitnessTip
    {
        font-size: 15px;
        color: var(--grey);
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .ExerciseSwiper
    {
        width: 100%;
        height: 16vh;
        overflow-x: hidden;
        margin-top: -12px;
        background-color: transparent;
    }

    .ExerciseSwiper .swiper-wrapper .swiper-slide
    {
        width: 17% !important;
        height: 8vh;
        margin-top: 10px;
    }

    .ExerciseSwiper .swiper-wrapper .swiper-slide img
    {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: 0;
    }

    .ExerciseSwiper .swiper-wrapper .swiper-slide span
    {
        margin-top: 100px;
        font-size: 10px;
    }

    .MoreExerciseDiv
    {
        width: 100%;
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
        background-color: var(--white);
    }

    .MoreExercise
    {
        height: 12vh;
        margin-top: 15px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
    }

    .ExerciseImg
    {
        width: 25%;
        height: 10vh;
        border-radius: 10px;
        background-color: violet;
    }

    .ExerciseImg img
    {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
    }
    
    .ExerciseTitle
    {
        width: 35%;
        height: 10vh;
    }

    .TitleSpan, .SubSpan
    {
        font-size: 11px;
    }

    .SubSpan
    {
        color: var(--grey);
    }

    .MoreInfoExercise
    {
        width: 25%;
        height: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .MoreInfoExercise span
    {
        margin-right: 5px;
    }

    .MoreInfoExercise span, .MoreInfoExercise i
    {
        font-size: 12px;
        color: var(--primary-orange);
    }

    .MoreExercise:not(:last-child) 
    {
        border-bottom: 1px solid var(--lightGrey);
    }

    .MoreExercise:last-child
    {
        margin-bottom: 75px;
    }
}