@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html, body
{
    height: 100%;
}

body
{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

a
{
    text-decoration: none;
    color: var(--black);
}



:root
{
    --primary-orange: #ff4d00;
    --FadedOrange: rgba(255, 77, 0, 0.493);
    --FadedBrown: rgba(167, 52, 14, 0.4);
    --white: white;
    --black: black;
    --grey: grey;
    --lightGrey: rgba(192, 189, 189, 0.226);
}

/* Carousel CSS */
.swiper-container 
{
    padding-right: 15%;
    padding-left: 15%;
    width: 70%;
    height: 142px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide 
{
    text-align: center;
    font-size: 18px;
    background: seagreen;
    border-radius: 15px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

.swiper-slide img 
{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    filter: brightness(40%);
}

.swiper-slide span
{
    position: absolute;
    font-weight: 600;
    color: var(--white);
    margin-top: -15px;
}

.swiper-slide button
{
    position: absolute;
    font-size: 14px;
    height: 27px;
    width: 42%;
    margin-top: 90px;
    background-color: var(--white);
    border-radius: 25px;
    border: none;
    outline: none;
    color: var(--primary-orange);
}

.swiper-container 
{
    margin-left: auto;
    margin-right: auto;
}



/* Login and SignUp Page CSS */

.LSContainer
{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.LSLogo, .LSButtons
{
    height: 50vh;
    width: 40%;
}

.LSLogo
{
    display: flex;
    align-items: center;
}

.LSLogo img
{
    width: 100%;
}

.LSButtons
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#buttonCSS
{
    background-color: var(--primary-orange);
    color: var(--white);
    font-size: 20px;
    font-weight: 700;
    border-radius: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    width: 10em;
    margin-bottom: 15%;
}



/* Login Page CSS */

.LoginPageContainer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.LoginContainer
{
    display: flex;
    flex-direction: column;
}

.LoginHeader
{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 30px;
}

.LoginBack
{
    width: 30px;
    height: 30px;
    margin-left: 30px;
}

.LoginText
{
    flex-grow: 1;
    text-align: center;
    margin-right: 60px;
    font-weight: 700;
}

.LoginForm
{
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    margin-top: 120px;
    margin-bottom: 120px;
    width: 75%;
}

.LoginForm input
{
    font-size: 20px;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--black);
}

.bottomLogo
{
    height: 8vh;
    width: 9em;
    margin-left: auto;
    margin-right: auto;
}

.bottomLogo img
{
    width: 100%;
}

.LoginBtn
{
    margin-left: auto;
    margin-right: auto;
}


    


@media screen and (max-width: 930px)
{
    /* Login and SignUp Page CSS */
    .LSContainer
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .LSLogo, .LSButtons
    {
        width: 85%;
        height: 45vh;
        margin-left: auto;
        margin-right: auto;
    }



    /* Nav Bar CSS */

    nav
    {
        width: 100%;
        display: flex;
        margin-top: 10px;
        justify-content: space-between;
    }

    .navbar .logo img
    {
        width: 110px;
        display: flex;
        align-items: center;
    }

    .navbar ul li
    {
        display: none;
    }

    .navbar .openMenu
    {
        display: flex;
        align-items: center;
        margin-left: 30px;
        font-size: 25px;
    }

    .navbar .closeMenu
    {
        display: none;
    }


    /* This is the section with the Student's name and their profile button*/
    .userBar
    {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 10px;
    }

    .userBar span
    {
        display: flex;
        align-items: center;
        font-size: 25px;
        font-weight: 600;
        margin-left: 30px;
    }

    .userBar img
    {
        width: 3.5rem;
        height: 3.5rem;
        margin-right: 30px;
        border-radius: 50%;
        border: 2px solid var(--primary-orange);
    }

    /* This is the search bar */
    .ServicesSearchBar
    {
        display: flex;
        justify-content: center;
        margin-top: 17px;
        width: 100%;
        height: auto;
    }

    .ServicesSearchBar input
    {
        background-color: var(--lightGrey);
        border: none;
        outline: none;
        border-radius: 300px;
        width: 285px;
        height: 27px;
        text-align: center;
    }


    /* Discover Text CSS */

    .DiscoverText
    {
        margin-top: 15px;
    }

    .DiscoverText span
    {
        margin-left: 30px;
        font-weight: 600;
    }

    /* Services Boxes CSS */
    .Services
    {
        width: 90%;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        gap: 17px;
        grid-template-columns: repeat(2, 1fr);
    }

    .ServiceBox
    {
        width: 150px;
        height: 18vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 20px;
        box-shadow: 2px 2px 10px 2px #969696;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
    }

    .ServiceBox img
    {
        width: 65px;
        margin-left: auto;
        margin-right: auto;
    }

    .ServiceBox span
    {
        text-align: center;
        margin-top: 15px;
        font-size: 13px;
    }


    /* This is the Student Profile CSS */
    .NotificationAndSettings
    {
        display: flex;
        align-items: center;
    }

    #StudentProfileMenu
    {
        display: flex;
        flex-grow: 1;
    }

    .NotificationAndSettings i
    {
        font-size: 20px;
        margin: 7px;
    }

    .StudentInfo
    {
        display: flex;
        justify-content: center;
        margin-top: 25px;
    }

    .StudentInfo .StudentProfileImage
    {
        width: 5rem;
        height: 5rem;
    }

    .StudentInfo .StudentProfileImage img
    {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        border: 2px solid var(--primary-orange);
    }

    .StudentInfo .BasicStudentInfo
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 55%;
        padding-left: 7%;
    }

    .StudentInfo .BasicStudentInfo span.StudentName
    {
        font-size: 20px;
        font-weight: 600;
    }

    .StudentInfo .BasicStudentInfo span.StudentType
    {
        font-size: 13px;
        opacity: 65%;
    }

    .roleDiv
    {
        background-color: grey;
        opacity: 60%;
        width: 70%;
        margin-top: 5px;
        text-align: center;
    }
    
    .MoreStudentInfo
    {
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        margin-top: 30px;
    }

    .MoreStudentInfo span.InfoTitle
    {
        font-weight: 600;
        margin-bottom: 15px;
    }
    .MoreStudentInfo span.InfoHeader
    {
        font-size: 13px;
        opacity: 75%;
    }

    .MoreStudentInfo span.YearAndSemester
    {
        font-size: 12px;
        font-weight: 600;
    }

    .TimeTable
    {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
    }

    .TimeTable span
    {
        font-size: 20px;
        font-weight: 600;
    }

    .TimeTable img
    {
        width: 55px;
    }

    /* Student Id CSS */

    .StudentIdInfo
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    .StudentIdPhoto
    {
        width: 12rem;
        height: 12rem;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
        border-radius: 50%;
        border: 2px solid var(--primary-orange);
    }

    .StudentIdPhoto img
    {
        width: 12rem;
        height: 12rem;
        border-radius: 50%;
    }

    span.StudentIdName
    {
        font-size: 30px;
        font-weight: 600;
    }

    span.StudentIdType
    {
        font-size: 17px;
        color: grey;
        opacity: 70%;
        margin-bottom: 25px;
    }

    span.StudentIdIdNum
    {
        font-size: 17px;
        color: grey;
        opacity: 70%;
    }

    span.StudentIdNumber
    {
        font-size: 25px;
        font-weight: 600;
        margin-bottom: 25px;
    }

    span.StudentIdDivision
    {
        font-size: 17px;
        color: grey;
        opacity: 70%;
    }

    span.StudentIdDivisionName
    {
        font-size: 25px;
        font-weight: 600;
    }

    .StudentIdBarcode
    {
        height: 7rem;
        margin-bottom: 50px;
    }

    .StudentIdBarcode img
    {
        height: 7rem;
    }

    span.StudentIdYear
    {
        font-size: 25px;
        font-weight: 600;
    }



    /* Calendar CSS */
    .CalendarBackground
    {
        background-color: var(--lightGrey);
    }
    
    .CalendarContainer
    {
        display: flex;
        flex-direction: column;
    }

    .NoScroll
    {
        background-image: linear-gradient(var(--primary-orange), var(--FadedOrange));
        padding-top: 0.0025em;
        height: 13.2em;
        width: 100%;
        border-bottom-left-radius: 15%;
        border-bottom-right-radius: 15%;
        position: fixed;
        z-index: 5;
    }

    .PageTitle
    {
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        margin-top: 15px;
        padding-bottom: 15px;
    }

    .MonthAndYearDiv
    {
        width: 75%;
        height: 2em;
        margin-left: auto;
        margin-right: auto;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--white);
        box-shadow: 2px 2px 10px 2px #969696;
        color: var(--primary-orange);
    }

    .MonthAndYearBack, .MonthAndYearForward
    {
        font-size: 20px;
    }

    .MonthAndYear
    {
        margin-left: 15%;
        margin-right: 15%;
        font-weight: 600;
    }

    .whiteSpace
    {
        width: 100%;
        height: 13.2em;
        background-color: var(--white);
        border-bottom-left-radius: 15%;
        border-bottom-right-radius: 15%;
        margin-top: 0px;
        position: fixed;
        z-index: 4;
    }

    .CalendarContentDiv
    {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-top: 260px;
        margin-left: auto;
        margin-right: auto;
        z-index: 3;
        justify-content: center;
        align-items: center;
    }

    .Calendar
    {
        background-color: seagreen;
        height: 25vh;
        width: 100%;
        border-radius: 25px;
        margin-bottom: 25px;
    }

    .AddTaskAndAppointmentBtn
    {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .AddTaskAndAppointmentBtn button:first-child
    {
        margin-right: 4%;
    }

    .AddEventButton
    {
        text-align: center;
        font-size: 15px;
        font-weight: 600;
        width: 48%;
        height: 3.5em;
        background-color: var(--white);
        color: var(--grey);
        border: none;
        border-radius: 5px;
    }

    .DisplayEventsHere
    {
        width: 100%;
        height: 20vh;
    }

    .EventCategoryName
    {
        background-color: var(--white);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        border-radius: 5px;
        margin-top: 25px;
    }

    .EventCategoryName span
    {
        font-weight: 600;
        font-size: 17px;
    }

    .NumberOfEvents
    {
        background-color: seagreen;
        width: 2em;
        height: 2em;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }












    /* Bottom Navigation Bar */
    .bottomNavBar
    {
        width: 100%;
        height: auto;
        padding: 0;
        margin-bottom: -17px;
        position: fixed;
        bottom: 0;
        z-index: 5;
    }

    ul.BottomNavUl
    {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 15px 0px;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        background-color: var(--primary-orange);
    }

    ul.BottomNavUl li
    {
        list-style: none;
        text-align: center;
    }

    ul.BottomNavUl li i
    {
        font-size: 27px;
    }

    .borderSettings
    {
        list-style: none;
        width: 25%;
    }

    .borderSettings:not(:nth-child(4n)) 
    {
        border-right: 1px solid var(--FadedBrown);
    }
}